<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hp.smdproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo100"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ActivityLayer.FullScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityLayer.Show_items"
            android:label="@string/title_activity_home"/>
        <activity android:name=".ActivityLayer.ItemList"
            android:label="@string/title_activity_home"/>
        <activity android:name=".ActivityLayer.SignIn"
            android:label="@string/title_activity_home"/>
        <activity android:name=".ActivityLayer.SignUp"
            android:label="@string/title_activity_home"/>
        <activity
            android:name=".ActivityLayer.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ActivityLayer.userProfile"

            android:label="Profile"></activity>
        <activity
            android:name=".ActivityLayer.Categories"
            android:label="@string/title_activity_home"/>

        <receiver android:name=".BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <service android:name=".DataLayer.Category_Services" />
        <service android:name=".DataLayer.ItemList_Services" />
        <service android:name=".DataLayer.Sale_Service" />
        <service android:name=".DataLayer.Sale_Notifcation_Service" />

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <activity android:name=".ActivityLayer.Sale_Activity"></activity>

        <provider
            android:name=".DataLayer.DetailContentProvider"
            android:authorities="com.example.hp.smdproject.DataLayer.DetailContentProvider"
            android:exported="true" />

        <activity
            android:name=".ActivityLayer.User_Profile_Activity"
            android:label="@string/title_activity_user__profile_"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>